<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vacation Booking Form</title>
</head>
<body>
    <main>
        <header>
            <h1>Book Your Dream Vacation</h1>
        </header>
        <form>
            <label>Destination</label>
            <select>
                <option>Choose a destination...</option>
                <option>Tokyo, Japan</option>
                <option>Amsterdam, Netherlands</option>
                <option>Baguio, Phillipines</option>
                <option>Washington, United States</option>
                <option>Saigon, Vietnam</option>
            </select>

            <div>
                <label>Departure Date</label>
                <input type="date">

                <label>Number of Travelers</label>
                <input type="number">
            </div>
        </form>
    </main>
</body>
</html>