/* general */
* {
    margin:0;
    box-sizing: border-box;
}

body {
    background: darkblue;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

/* form header */
header{
    position:relative;
    text-align: center;
    color:white;
}

img{
    border-radius: .5rem .5rem 0 0;
    width:100%;
    height:12rem;
    filter:brightness(.7);
    display: block;
}

h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-shadow:2px 2px 2px black;
}

/* form */
.container{
    width:45%
}

form{
    background-color: white;
    border-radius: 0 0 .5rem .5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
    gap:1rem;
}

label{
    padding:.5rem;
    font-weight: bold;
}

.row1{
    display: flex;
    flex-direction: column;
}

select{
    width:100%;
    border: 1px solid lightgrey;
    border-radius: .25rem;
    padding:.5rem;
}

.row2{
    display: flex;
    gap:1rem;
    padding-bottom: 1rem;
}

.content{
    flex:50%;
    display: flex;
    flex-direction: column;
}

input{
    border: 1px solid lightgrey;
    border-radius: .25rem;
    width:100%;
    height: 2rem;
    padding: .5rem;
}

button{
    border:none;
    background-color: rgb(28, 28, 190);
    border-color: rgb(28, 28, 190);
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width:50%;
    align-self: center;
}

button:hover{
    background-color: darkblue;
}

footer{
   position: fixed;
   left: 0;
   bottom: .5rem;
   width: 100%;
}

a{
    text-decoration: none;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover{
    color:grey;
}

/* client-side validation */
.err{
    color: darkred;
    display: none;
    font-style: italic;
}